{
  "presets": ["latest", "react"],
  "plugins": ["react-hot-loader/babel"],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
