{
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "transform-async-to-generator",
    "transform-decorators-legacy"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize",
        "latest",
        "react",
        "stage-1"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-async-to-generator",
        "transform-decorators-legacy"
      ]
    }
  }
}